<!-- TODO: do info component: show passed infos, checks lifecycle.validateState, show related info, and transitions lifecycle if possible -->
{{infos}}
<button class="btn btn-primary" {{action "task.read"}}>Continue</button>
