{{#if showInstructions}}
  {{! TODO: add drawing here }}
{{else}}
  <h1>Ready to go?</h1>
  <button class="btn btn-default" {{action "manualInstructions"}}>Read instructions again</button>
{{/if}}{{! showInstructions }}

<button class="btn btn-primary" {{action "next"}}>Start</button>
