{{#each lifecycleInfos as |info|}}
  {{info}}
{{/each}}
{{#each stateInfos as |info|}}
  {{info}}
{{/each}}
{{#each rhythmInfos as |info|}}
  {{info}}
{{/each}}
<button class="btn btn-primary" {{action "next"}}>Continue</button>
