{{#each lifecycleEvents as |event|}}
  {{event}}
{{/each}}
{{#each rhythmEvents as |event|}}
  {{event}}
{{/each}}
{{#each gainEvents as |event|}}
  {{event}}
{{/each}}
<button class="btn btn-primary" {{action "next"}}>Continue</button>
