<h3>Some reading instructions</h3>
<p>Sentence instructions: blablabla. {{sentence.instructions}}</p>
<blockquote>{{sentence.text}}</blockquote>
<p>{{sl-progress-bar value=progress}}</p>
<button class="btn btn-primary" {{action "next"}}>Continue</button>
