<h3>Read and memorize!</h3>
<blockquote>{{format-paragraphs sentence.text}}</blockquote>
{{#progress-clock value=progress}}
  <button class="btn btn-primary" {{action "next"}}>Continue</button>
{{/progress-clock}}
