<h3>You finished the test!</h3>
<p>Your reading-span is about <strong>{{h-pluralize roundSpan 'word'}}</strong>. After finishing the experiment you'll see how well you did compared to the other participants.</p>
{{link-to 'Back to profile' 'profile' class="btn btn-primary"}}
