{{#progress-clock value=progress colors=colors}}
  <button class="btn btn-primary {{if wait 'disabled'}}" {{action "next"}}>{{#if wait}}{{h-pluralize timeLeft 'second'}}...{{else}}Write!{{/if}}</button>
{{/progress-clock}}
