TODO: write up to wordsCount words, auto-tokenized. Send list of words to upper controller. Controller saves the percentage, and either saves to model if it's the last trial then finishes, or goes back to reading.
<button class="btn btn-primary" {{action "save"}}>Save</button>
