<h3>Write the words in the same order they were presented</h3>

<ul>
  <li>Capitalization does not count</li>
  <li><strong>Spelling changes and typos count as mistakes</strong></li>
  <li>Each word must appear in the same list position as when it was presented</li>
</ul>

<form>
  <div class="form-group">
    {{token-input class="form-control" id="inputWords" value=words minLength=1 limit=wordsCount placeholder=placeholder disabled=isSaving}}
  </div>

  <div class="form-group">
    {{#if enoughTokens}}
      {{async-button action="save" class="btn btn-primary" default="Save" pending="Saving..."}}
    {{else}}
      {{#sl-tooltip title=saveTip id="inactive-submit"}}<button class="btn btn-primary" disabled=true>Save</button>{{/sl-tooltip}}
    {{/if}}
  </div>
</form>
