<h3>You finished the test!</h3>
<p>Your word span is about <strong>{{h-pluralize span 'word'}}</strong>, and you remembered <strong>{{h-pluralize score 'word'}}</strong> out of {{maxScore}}. After finishing the experiment you'll see how well you did compared to the other participants.</p>
{{link-to 'Back to profile' 'profile' class="btn btn-primary"}}
