@import 'sl-ember-components';

/*
 * Misc stuff
 */
textarea { resize: vertical; }
small, h1 small, h2 small, h3 small, h4 small, h5 small, h6 small { color: grey; }
.badge { background-color: hsl(214, 9%, 75%); }

/*
 * Home page
 */
.center { text-align: center; }
.btn-home { margin-top: 20px; }
.greeting { margin-top: 30px; margin-bottom: 50px; }
.page-title { margin-bottom: 50px; }

/*
 * Home page footer
 */
.footer {
  border-top: 1px solid #ddd;
  width: 70%;
  max-width: 200px;
  margin: 40px auto 0;
  padding: 20px 0 20px;
}

.footer .icon { font-size: 20px; margin: 0 10px; }
.footer a { color: grey; }
.footer a:hover { color: black; }

/*
 * Icons, for everywhere
 */
a.icon { color: grey; }
a.icon:hover { color: black; }
.icon-med { margin-top: 20px; font-size: 20px; font-weight: lighter; line-height: 1.1; }
.icon-big { margin-top: 20px; font-size: 30px; font-weight: normal; line-height: 1.1; }

/*
 * Tree cards
 */
a.tree-card { display: block; padding: 5px; margin-bottom: 10px; color: hsl(217, 4%, 40%); }
a.tree-card:hover { box-shadow: 0 0 2px 0 grey; text-decoration: none; }
.tree-card p { color: #bbb; }

/*
 * Sentence and tree details
 */
p.sentence-details { color: #bbb; }

/*
 * Tree graphs
 */
.graph-overview { height: 200px; }
.graph-detail { height: 400px; }
.node circle { stroke: #fff; stroke-width: 1.5px; }
.node text { fill: #555; text-anchor: middle; }
.link { stroke: #999; stroke-opacity: .6; fill: transparent; }
