html, body {
  margin: 20px;
}

textarea {
  max-width: 100%;
  resize: vertical;
}

p#netstatus span.checking {
  color: #b70;
}

p#netstatus span.online {
  color: #180;
}

p#netstatus span.offline {
  color: #80a;
}
