html, body {
  /*margin: 0;*/
}

textarea {
  max-width: 100%;
  resize: vertical;
}

.home {
  text-align: center;
}

.btn-home {
  margin-top: 20px;
}

.greeting {
  margin-top: 20px;
  margin-bottom: 50px;
}

.icon-big {
  font-size: 36px;
}
