<p id="instructions">Type in your new sentence:</p>

<form {{action "sendSentence" on="submit"}}>
  {{view "focused-textarea" value=text rows="3" cols="50"}}
  {{input type='submit' value='Send'}}
</form>
