{{#page-header back="explore"}}Detailed tree #{{model.id}}{{/page-header}}
{{#page-body}}
  <h2>Starting point</h2>
  <blockquote>{{model.root.text}}</blockquote>

  <h2>Evolution <small>(Mouse over the nodes to read the text)</small></h2>
  <div class="row">
    <div class="col-sm-6">
      {{d3-graph tree=model hover="hoverSentence"}}
    </div>
    <div class="col-sm-6">
      {{#if hovered}}<blockquote>{{hovered.text}}</blockquote>{{/if}}
    </div>
  </div>
{{/page-body}}
