<p id="instructions">Read this carefully:</p>

<blockquote id="text">{{ text }}</blockquote>

<!-- FIXME: untexted -->
<p id="countdown">Time left: {{ ceiling-float countdown ceilingPrecision }} seconds</p>
