<p id="instructions">Type the sentence as you remember it:</p>

<form {{action "sendSentence" on="submit"}}>
  <!-- FIXME[search attributes]: check and adjust attributes (e.g. autofocus doesn't work) -->
  <textarea name="text" autofocus></textarea>
  <button name="send" type="submit">Send</button>
</form>
