<div class="row">
  <div class="footer-ruler"></div>
  <a class="icon icon-med" href="https://twitter.com/gistrexp" title="Twitter">{{fa-icon "twitter"}}</a> <a class="icon icon-med" href="https://github.com/interpretation-experiment/gistr-app" title="GitHub">{{fa-icon "github"}}</a>
</div>
