<h2 id="title">Gistr</h2>

<p id="sentences">Sentences being turned on their head right now:</p>

<ul>
{{#each}}
  <li>{{this.text}}</li>
{{/each}}
</ul>

<form action="#" method="post">
  <label for="nickname">Pick a nickname</label>
  <input id="nickname" name="nickname" type="text" placeholder="e.g. hoory-horse" autofocus>

  <button name="seed" type="submit">New seed</button>
  <button name="interpret" type="submit">Gist up!</button>
</form>
