<ul>
{{#each}}
  <li>{{this}}</li>
{{/each}}
</ul>

<form>
  <p id="pick">Pick a nickname</p>
  <p><input name="nickname" type="text" placeholder="e.g. hoory-horse" autofocus></p>

  <p><button name="seed" type="submit">New seed</button></p>
  <p><button name="interpret" type="submit">Interpret</button></p>
</form>
