{{document-title title="Reports"}}
{{page-header title="Reports"}}

{{#page-body}}
  {{#if (can 'read about')}}
  {{else}}
    <h2>Want to know what this is about?</h2>
    <h2><a href="#" {{action 'passExperiment'}}>Pass the experiment</a> first!</h2>
    {{! TODO: add link to prolific academic study once published, "you can even get paid for it!" }}
  {{/if}}{{! can read about }}
{{/page-body}}
